$orange: rgb(97, 40, 0);
$green: rgb(18, 62, 0);
@mixin breakpoint($point) {
    @if $point == sm {
      @media (max-width: 599px) { @content ; }
    }
    @else if $point == md {
      @media (min-width: 600px) { @content ; }
    }
    @else if $point == lg {
      @media (min-width: 900px) { @content ; }
    }
    @else if $point == xl {
      @media (min-width: 1200px) { @content ; }
    }
    @else if $point == xxl {
      @media (min-width: 1800px) { @content ; }
    }
    @else if $point == xxxl {
      @media (min-width: 2200px) { @content ; }
    }
  }

body {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100%;
    background: url("/img/pinetrees.jpg") no-repeat center/cover fixed;

    a {
        color: white;
        text-decoration: none;
        transition: all 0.4s ease 0s;
    }

    .fresh {
        color: burlywood;
        h2 { font-size: 4em; }
        h3 { font-size: 2em; }
    }

    .container {
        padding: 0;
    }
      
    section {
        padding: 30px;
        text-align: center;
        padding-bottom: 100px;
        font-weight: 300;
        @include breakpoint(sm) { background-attachment: scroll !important; }

        .section-header {
            text-align: center;
            text-transform: uppercase;
            font-size: 35px;
        }

        &.top-section {
            padding-top: 10px;
            //background: linear-gradient(rgba($green, 0.82), rgba($orange, 0.82)), url('/img/pinetrees.jpg') no-repeat center / cover fixed;
            background: linear-gradient(rgba(black, 0.65), rgba(black, 0.65)), url('/img/pinetrees.jpg') no-repeat center / cover fixed;
            
        }
        
        &.work {
            background: linear-gradient(rgba(black, 0.65), rgba(black, 0.65)), url('/img/logs.jpg') no-repeat center / cover fixed;
            
            .testimonial {
                img {
                    //width: 200px;
                    height: 60px;
                }
                q {
                    font-size: 22px;
                }
                max-width: 400px;
                margin: 20px;
                text-align: center;
                display: inline-block;
                vertical-align: top;

                .qsource {
                    text-align: right;
                    padding-right: 10px;
                    i {
                        font-size: 12px;
                    }
                }
            }
            
        }
        
        &.approach {
            background: linear-gradient(rgba(black, 0.65), rgba(black, 0.65)), url('/img/woodshave.jpg') no-repeat center / cover fixed;
            padding-top: 100px;
            q {
                font-size: 24px;
            }

            ul {
                max-width: 800px;
                margin: 40px auto;
                text-align: left;
                font-size: 22px;
            }

            li {
                padding-bottom: 10px;
            }

            input {
                //background-color: transparent!important;
            }
        }

        &.footer {
            background: #282828;
            text-align: left;
            padding-bottom: 20px;
            ul {
                padding-left: 0;
                li {
                    list-style: none;
                    padding-bottom: 8px;
                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
            
        }
    }
}

html { 
    height: 100%;
}

nav {
    float: left;
    width: 100%;    
    padding: 10px 0;    
}
.nav-link {
    float: right;
    margin: 0 10px;
    border-bottom: 1px solid transparent;
    padding-bottom: 5px;
}
.nav-link:hover {
    border-bottom: 1px solid white;
}
img {
    margin-top: 50px;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(18, 62, 0, 0.80), rgba(97, 40, 0, 0.80), rgba(18, 62, 0, 0.80), rgba(97, 40, 0, 0.80));
    background-size: 350% 350%;

    -webkit-animation: gradColor 60s ease infinite;
    -moz-animation: gradColor 60s ease infinite;
    animation: gradColor 60s ease infinite;
}
.btn {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 18px;
    padding: 13px;
    color: white;
    transition: background-color 0.5s ease;
}
.btn:hover {
    background-color: white;
    color: rgb(30,30,30);
    cursor: pointer;
}
.ohnohoney {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
}

.approach {
    input, textarea {
        width: 90%;
        max-width: 400px;
        padding: 1rem;
    }

    .btn {
        
    }
}

@-webkit-keyframes gradColor {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes gradColor {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes gradColor { 
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
  