$orange: rgb(97, 40, 0);
$green: rgb(18, 62, 0);
body {
    color: white;

    .container-fluid {
        padding: 0;
    }
      
    section {
        padding: 30px;


        .section-header {
            text-align: center;
        }

        &.top-section {
            padding-top: 10px;
            padding-bottom: 100px;
            background: linear-gradient(rgba($green, 0.82), rgba($orange, 0.82)), url('/img/pinetrees.jpg') no-repeat center / cover fixed;

        }

        &.work {
            background: linear-gradient(rgba(black, 0.65), rgba(black, 0.65)), url('/img/woodshave.jpg') no-repeat center / cover fixed;

            .bbbs-lms-welcome-page {
                height: 310px;
                background: linear-gradient(rgba(black, 0.65), rgba(black, 0.65)), url('/img/bbbs-lms-welcome.png') no-repeat center / cover;
            }
        }
    }

}
  